.modal {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  min-width: 250px;
  padding: 20px;
  background: white;
  border-radius: 12px;
}
