* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid darkgreen;
}

.post__action {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  padding: 0 15px;
}
